{% extends "pythontutorials/base.html" %}
{% load static %}
{% block content %}

<br><br><br>
<style media="screen">
  h1{
    text-align: center;
    color:white;
  }
  h2{
    color:white;
    text-align:left;
  }
  p{
      color:white;
  }
  li{
      color:white;
      text-align:left;
  }
  #logo{

    height: 400px;
    width: 1000px;

    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    border-radius: 8px;
  }

  #logos{

    height: 700px;
    width: 900px;

    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    border-radius: 8px;
  }

header {

    text-align: center;
    background-position: center;
}

.btn-default .badge {
    color: #fff;
    background-color: #222;
}

.btn-primary {
    border-color: yellowgreen;
    color: #fff;
    background-color: yellowgreen;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    border-color: limegreen;
    color: #fff;
    background-color: limegreen;
}

.btn-primary:active,
.btn-primary.active,

.btn-primary .badge {
    color: yellowgreen;
    background-color: #fff;
}


.btn {
    border-radius: 300px;
    text-transform: uppercase;
}

.btn-lg {
    padding: 15px 30px;
}
p{
  text-align: justify;
}


</style>





<br><br><br>
  <header>
    <div class="container-fluid">
    <img id="logo" src="{% static '/pythontutorials/pythonlogo.png' %}" width="50" height="50" alt="" class="d-inline-block align-middle mr-2">
    </div>
    <br><br><br>
    <div class="jumbotron">
      <h3>
          The Best Python  Developer Site on the Internet. Where  enjoyment creates a learning community.
          </h3>
    </div>
      <br><br><br>
<h1>What are the Applications of Python?</h1>
<p>Python has been growing in popularity over the last few years and is now widely used in all kinds of applications. It’s even often referred to as “the best programming language to learn”. Python is used to develop video players like YouTube, power apps like Instagram, test microchips at Intel, run a search engine at Google, and even power transactions on the New York Stock Exchange (NYSE). And you know a programming language is very powerful when it's maintaining a stock exchange system. In fact, NASA also uses Python when they are programming their equipment and space machinery. Well, isn’t that something? Let’s review some of these applications further.</p>

<h1>1.Python for Data Science</h1>
<p>Python experienced a recent surge in popularity across various industries
  mainly because of its data science libraries. Both in business and
  academia, Python finds a wide range of applications for data analysis.
   It is the language of choice for a large portion of the data science
   community. Why? Because of the various tools which make it easy to work
   with huge datasets and gain significant insights. Python libraries, such
   as NumPy and Pandas are extensively used in the collection, processing, and
   cleansing of data sets, as well as in applying mathematical algorithms for the
    benefit of users. Another aspect that makes Python a great tool for data scientists
    is the robust visualizations that come with Matplotlib and Seaborn.</p>

<h1>2.Python for Machine Learning</h1>

<div class="container-fluid">
<img id="logos" src="{% static '/pythontutorials/ML.jpg' %}" width="70" height="50" alt="" class="d-inline-block align-middle mr-2">
</div>
<p>If you haven’t heard of Machine Learning (ML) before, here’s a quick introduction. ML refers to the
  ability of a computer to “learn” from training data (fitting a model to the input) in order to make
  predictions (such as, how likely it is for a customer to buy this product, based on data about their
  past purchases). It is widely employed in “smart” algorithms (where it uses large datasets) and by many
  companies.

Indeed, companies have plenty of good reasons for using Python.

Its libraries, such as Scikit-learn, TensorFlow, and NLTK are widely used for the
prediction of trends like customer satisfaction, projected values of stocks, etc. Speaking оf libraries, TensorFlow, in particular, has a very interesting story. Google developed it for inhouse use, but they released it as an open-source library in 2015. But we’ll get back to it in section 2.4 where we talk more about Python libraries.

Given the growing importance of machine learning and artificial intelligence nowadays,
this side of Python will definitely improve even more.</p>


<h1>3.Python for Web development</h1>
<div class="container-fluid">
<img id="logos" src="{% static '/pythontutorials/WEB.jpg' %}" width="70" height="50" alt="" class="d-inline-block align-middle mr-2">
</div>
<p>HTTP programming (or, as we more commonly call it, web development) isn’t just done with
  JavaScript anymore. In fact, Python plays a major part in it, too.  So, in this section, we’ll
   introduce you to a main Python framework called Django. In addition, we’ll see some of the major
    companies which are using Django for their web services.

Django is a full-stack web framework. Now, what does that mean exactly? Full-stack frameworks
 you with everything you need to build a complete web application. That includes web serving,
 database management, and even HTML generation. So, it’s no surprise that Django is the foundation
  for sites and services like The Guardian, New York Times, Instagram, and Pinterest. Looks like,
  if you’re building large and complex web applications, Django is the way to go.</p>


<h1>4.Python for game development</h1>
<div class="container-fluid">
<img id="logos" src="{% static '/pythontutorials/GAME.jpg' %}" width="70" height="50" alt="" class="d-inline-block align-middle mr-2">
</div>
<p>We won’t sugarcoat it, this is where Python is lacking with respect to the competition.
  Although it has libraries for game development, such as PyGame and PyOpenGL, they often prove
   insufficient to provide enough functionality. Although it’s generally good for creating 2D games
    game developers consider it slow in comparison to compiled languages, such as C# and C++.
    Furthermore, it’s probably not the best choice graphics-wise, and it doesn’t offer rich
     development tools or an editor. That, coupled with the fact that Python is a high-level,
     interpreted language, makes it a not-so-attractive option for game developers.

Nevertheless, Python is extremely helpful in prototyping thanks to the fast speed of writing
code in it. Essentially, when deciding whether to invest time and resources in developing a game,
 it’s useful to build a prototype – a proof of concept. And that’s where Python comes into play,
 as it’s able to produce a simple 2D working prototype much faster than other languages.

In addition, Python has an important role to play in the online gaming community.
Notable examples of games developed with its help are Civilization IV (uses Python for logic
and server controls), Eve Online (uses Stackless Python) and World of Tanks (uses Python for
some of its internal logic and scripting). Finally, Snakeworlds – a 3D snake game that puts the
 famous game classic on spheres/ globes. It is written entirely with Python-Ogre.</p>

<h1>What are the advantages and disadvantages of Python?</h1>
<div class="container-fluid">
<img id="logos" src="{% static '/pythontutorials/PC.jpg' %}" width="70" height="50" alt="" class="d-inline-block align-middle mr-2">
</div>

<ul>
  <h1>Pros:</h1>
  <li>Easy to learn - few keywords, simple structure, and a clearly defined syntax. This allows the student to pick up the language quickly.</li>
  <li>Easy to read - Python code is more clearly defined due to the extensive use of whitespace.</li>
  <li>Productivity – Python code can be considerably faster to write.</li>
  <li>Interactive mode - support for an interactive mode that allows interactive testing and debugging of snippets of code.</li>
  <li>Broad standard library - Python is famous for being the "batteries are included" language. There are over 300 standard library modules that contain classes for a wide variety of programming tasks.</li>
  <li>Cross-platform - Python works equally well on different OS platforms like Windows, Linux, Mac OSX, etc. Hence its applications can be easily ported across OS platforms.</li>
  <li>Extendable - You can add low-level modules to the Python interpreter. These modules enable programmers to add to or customize their tools to be more efficient.</li>
  <li>Embeddable - Python is embeddable as well. You can put your code in the source code of a different language, such as C++.</li>
  <li>Extensive collection of support libraries – there are numerous libraries for Python that add a lot of functionality to the language.</li>

</ul>






<ul>
  <h1>Cons:</h1>
  <li>Speed limitations - Python is interpreted and that results in slow execution of the code. This, however, isn’t a problem, unless speed is the focal point of the project. In other words, unless high speed is a requirement, the benefits Python offers are enough to outweigh its limitations.</li>
    <li>Weak on mobile – although it has made its presence on many desktop and server platforms, it is seen as a weak language for mobile computing. This is the reason why very few mobile applications use it.</li>
    <li>Difficulty in using other languages – Python supporters become so accustomed to its features and its extensive libraries that they face problems in learning or working with other programming languages. Very often, Python experts may see the declaring of variable types and the syntactic requirements of adding curly braces or semicolons as an onerous task.</li>
</ul>



<h1>Which are the career paths in Python you can take?</h1>

<p>Proficiency in Python is one of the indispensable skills in the tech and data science career fields. Here are some of the most lucrative career paths for Python specialists to follow.</p>

<h2>Python Developer</h2>
<p>The most obvious choice for anyone who’s proficient in Python.
   Python developers use it for all sorts of tasks, ranging from building
    websites and optimizing data algorithms to finding data analytics solutions
    and carrying out security and data protection. Not to mention this programming
    language is perfect for writing testable, reusable, and incredibly efficient code.</p>

<h2>Machine Learning Engineer</h2>
<p>Expertise in Python is one of the key requirements for
  Machine Learning engineers. Machine learning involves continuous
   data processing and Python’s great library ecosystem is undoubtedly
   up for the challenge. No wonder Python libraries are preferred by
    Machine Learning engineers for accessing, and transforming data,
     as well as for handling basic ML algorithms like clustering,
     regressions, and classification.</p>

<h2>Data Scientist</h2>
<p>Python is hands-on the preferred language for statistical modeling.
  Around 68% of data scientists state that it is their favorite programing
   language (in comparison to 44% last year). And if you’ve been paying
   attention so far, Python is also essential when it comes to machine learning.</p>


<h2>Data Analyst</h2>
<p>Python is one of the best languages for handling huge
  amounts of data, cleaning it, and processing it for analysis,
   which is what the data analyst does a lot of. And Python helps
    them do all that fast, compared to other more complex tools. Data
    analysts also use Python and its packages to integrate their data
    analysis tasks with web apps or incorporate a statistics code into
    a production database.</p>


<h2>BI Analyst</h2>
<p>Python is not an absolute must for BI analysts. However,
   it becomes more and more recommended in the business intelligence domain.
   BI analysts are multitaskers to the core. As such, they can use Python
   for various business intelligence tasks. They can use it to prepare the
   data by importing it into database programs, cleaning, and standardizing
   it. In addition, BI analysts can explore the data by creating a Pandas
   DataFrame from a query, making a data quality report, generating summary
   statistics, and creating charts. Finally, Python assists BI analysts
    with both data analysis and analytics, so they can visualize and
     report their insights to drive informed business decisions.</p>


<h2>Data Engineer</h2>
<p>Python’s rich libraries help data engineers access
   databases and storage technologies. Furthermore,
    data engineers use it to code an ETL framework,
     as well as for API interaction and automation.
      Overall, Python is a powerful and versatile tool
      that allows data engineers to solve problems quickly and efficiently.</p>


<h2>Data Architect</h2>
<p>Data architects develop advanced Python scripting to analyze,
  cleanse, and transform large data sets of data and prepare it for use in business intelligence, analytics, and financial modeling functions.</p>


<h1>What are the top industries that use Python?</h1>
<ul>
  <p>Here are the top 10 Industries that use Python,
    according to ActiveState’s Top 10 Use Cases:</p>

    <li>Insurance;</li>
    <li>Retail banking;</li>
    <li>Aerospace;</li>
    <li>Finance;</li>
    <li>Business services;</li>
    <li>Hardware;</li>
    <li>Healthcare;</li>
    <li>Consulting services;</li>
    <li>Infotech;</li>
    <li>Software.</li>


</ul>
<p>If you’re looking for great career opportunities across numerous industries, you literally can’t go wrong with Python. So, if you’re a beginner eager to make the first steps in your chosen career, the only thing left to do is start learning!</p>





    <br><br><br>
          <div class="header-content">
              <div class="header-content-inner">
                  <a href="{% url 'python-main' %}" class="btn btn-primary btn-lg">START</a>
              </div>
          </div>


      </header>

<br><br><br><br><br>


<br><br>

{% endblock content %}
