{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>


        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static 'bootstrap-4.6.0-dist/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" type="text/css" href="{% static 'pythontutorials/main.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'pythontutorials/about.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'pythontutorials/Homes.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'pythontutorials/nicepage.css' %}">

    <meta charset="utf-8">
    <title>TIPSI</title>

    <style>
   {
       box-sizing: border-box;
   }
   /* Set additional styling options for the columns*/
   .column {
   float: left;
   width: 50%;
   }

   #below:after {
   content: "";
   display: table;
   clear: both;
   }



   .column {
   float: left;
   width: 33.3%;
   margin-bottom: 16px;
   padding: 0 8px;
   }

   .card {
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   margin: 8px;
   }

   .about-section {
   padding: 50px;
   text-align: center;
   background-color: #474e5d;
   color: white;
   }

   .container {
   padding: 0 16px;
   }

   .container::after, .row::after {
   content: "";
   clear: both;
   display: table;
   }

   .title {
   color: grey;
   }

   .button {
   border: none;
   outline: 0;
   display: inline-block;
   padding: 8px;
   color: white;
   background-color: #000;
   text-align: center;
   cursor: pointer;
   width: 100%;
   }

   .button:hover {
   background-color: #555;
   }

   @media screen and (max-width: 650px) {
   .column {
     width: 100%;
     display: block;
   }
   }

   .row{
     borderbackground : black;border: 5px ;
     background-color: #161624;
     color :white;

   }

   .column p{
     color:black;
   }
   .column h2{
     color:black;
   }



   .promotion.promotion-142 {
      background-color: #0065c3;
      background-image: url("https://www.pepsi.com/en-us/uploads/04_Generation_BG_D_2.png?mtime=20181217151706 ");
   }

   @media (orientation: portrait) {
      .promotion.promotion-142 {
         background-image: url(" https://www.pepsi.com/en-us/uploads/04_Generation_BG_M_2_EY.png?mtime=20181217151709 ");
      }
   }


   .button-large.cta-142 {
      color: #ffffff;
      border-color: #ffffff;
   }

   section{
     width:100%;
   }





   </style>
  </head>
  <body >

{% if user.is_authenticated %}
    <nav >

             <label >
             <img src="{% static '/pythontutorials/tpsi3.png' %}" width="100" height="100" alt="" class="d-inline-block align-middle mr-2"></label>
             <ul>
                <li class="active" ><a href="{% url 'python-main' %}">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#product">Product</a></li>
                <li><a href="#contact">Contact</a></li>
                <li><a href="{% url 'python-blog' %}">Blog</a></li>
                <li><a  href="{% url 'logout' %}">Logout</a></li>
             </ul>
          </nav>

          <section class=" u-section-1" >
            <div class="u-clearfix u-sheet u-valign-middle u-sheet-1" style="background-image: url('{% static '/pythontutorials/bkg.png' %}');" >
              <h1 >Buy Fresh Soda</h1>
              <div class="u-border-4 u-border-palette-3-base u-line u-line-horizontal u-line-1"></div>
              <h3  class="u-text u-text-body-alt-color u-text-2">php. 30</h3>
              <a href="#" class="u-btn u-btn-round u-button-style u-custom u-radius-50 u-white u-btn-1">ORDER now</a>
            </div>
          </section>
          <br><br><br><br><br><br><br><br><br><br>
<section data-promo-id=promotion1 class="promotion fly-in promotion1 promotion-142">

    <div class="column" >

        <img id="logo" src="{% static '/pythontutorials/tpsi3.png' %}" width="400" height="400"  class="d-inline-block align-middle mr-2">

    </div>
    <div class="column" ">

      <h2 >TIPSI is a  flavored soft drink with a crisp, clean taste that gives you the ultimate cut-through refreshment.<br>TIPSI
The flavor that started it all—classic, cool, crisp lemon-lime taste that’s caffeine free with 100% natural flavors.<br>
      </h2>
    </div>

</section>


<section class="u-clearfix u-section-3" id="sec-8fa9">
  <h2 id="product" >

  </h2>

  <section class="u-clearfix u-section-3" id="sec-8fa9">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
      <div class="u-expanded-width u-list u-list-1">
        <div class="u-repeater u-repeater-1">
          <div class="u-container-style u-list-item u-repeater-item">
            <div class="u-container-layout u-similar-container u-container-layout-1">
              <img class="u-expanded-width u-image u-image-1" src="{% static '/pythontutorials/soda13.png' %}" data-image-width="1367" data-image-height="1686">
              <h3 class="u-text u-text-1">Orange Flavor</h3>
              <p class="u-text u-text-2">sweet, sugary, sometimes carbonated&nbsp;<a href="https://en.wikipedia.org/wiki/Carbonation" title="Carbonation" class="u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-1">
                  <br>
                </a>, orange-flavored drink.&nbsp;
              </p>
              <a href="" class="u-active-none u-border-2 u-border-hover-palette-2-base u-border-palette-2-light-1 u-btn u-button-style u-hover-none u-none u-text-body-color u-btn-2">learn more</a>
            </div>
          </div>
          <div class="u-container-style u-list-item u-repeater-item">
            <div class="u-container-layout u-similar-container u-container-layout-2">
              <img class="u-expanded-width u-image u-image-2" src="{% static '/pythontutorials/soda23.png' %}" data-image-width="1316" data-image-height="1600">
              <h3 class="u-text u-text-3">Lemon Lime Flavor</h3>
              <p class="u-text u-text-4"> carbs, protein, and fat — <b>lemons</b> and <b>limes</b> are essentially identical with <b>limes</b> taking an insignificant lead in carb and calorie content. <b>Lemons</b> provide more vitamin C than <b>limes</b> — but both make a significant dietary contribution of this vitamin.
              </p>
              <a href="" class="u-active-none u-border-2 u-border-hover-palette-2-base u-border-palette-2-light-1 u-btn u-button-style u-hover-none u-none u-text-body-color u-btn-3">learn more</a>
            </div>
          </div>
          <div class="u-container-style u-list-item u-repeater-item">
            <div class="u-container-layout u-similar-container u-container-layout-3">
              <img class="u-expanded-width u-image u-image-3" src="{% static '/pythontutorials/soda33.png' %}" data-image-width="1328" data-image-height="1686">
              <h3 class="u-text u-text-5">Strawberry Flavor</h3>
              <p class="u-text u-text-6">is a refreshing fresh fruit <b>juice</b> that is full of vitamin C and antioxidants and lot of invigorating flavor
              </p>
              <a href="" class="u-active-none u-border-2 u-border-hover-palette-2-base u-border-palette-2-light-1 u-btn u-button-style u-hover-none u-none u-text-body-color u-btn-4">learn more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</section>

<br><br><br><br><br><br><br><br><br>
<section class="u-align-left u-black u-clearfix u-section-1" id="carousel_0b70">
<h2 id="about" >  </h2>

       <div class="u-clearfix u-sheet u-sheet-1">
         <h4 ">About</h4>
<p>TIPSI is an Philippine-based craft soda store. The company’s ecommerce site is an extension of its shop in Manila that stocks over 1,000 craft sodas.

From the homepage, shoppers can browse new arrivals and perform a quick search by soda style, brewery, and country.
It was first developed in South part of the Philippines in 20201 as Mariano Q. Daga-ang ("Fresh Tipsi Soda") and was introduced in the World under the current brand name TIPSI in 2021 as a competitor to 7 Up, Coca Cola, Pepsi.</p>
        <br><br><br>  <a href="" class="u-active-none u-border-2 u-border-white u-btn u-btn-rectangle u-button-style u-custom-font u-heading-font u-hover-none u-none u-btn-1">read more</a>
       </div>
     </section>

<section class="u-align-center u-clearfix u-section-5" id="sec-15e7">
  <h2 id="contact" >
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
      <h2 class="u-text u-text-1">Contact Us</h2>
      <div class="u-form u-form-1">
        <form action="#" method="POST" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" style="padding: 10px" source="custom" name="form">
          <div class="u-form-group u-form-name">
            <label for="name-3b9a" class="u-form-control-hidden u-label">Name</label>
            <input type="text" placeholder="Enter your Name" id="name-3b9a" name="name" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="">
          </div>
          <div class="u-form-email u-form-group">
            <label for="email-3b9a" class="u-form-control-hidden u-label">Email</label>
            <input type="email" placeholder="Enter a valid email address" id="email-3b9a" name="email" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="">
          </div>
          <div class="u-form-group u-form-message">
            <label for="message-3b9a" class="u-form-control-hidden u-label">Message</label>
            <textarea placeholder="Enter your message" rows="4" cols="50" id="message-3b9a" name="message" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required=""></textarea>
          </div>
          <div class="u-align-left u-form-group u-form-submit">
            <a href="#" class="u-btn u-btn-submit u-button-style">Submit</a>
            <input type="submit" value="submit" class="u-form-control-hidden">
          </div>
          <div class="u-form-send-message u-form-send-success"> Thank you! Your message has been sent. </div>
          <div class="u-form-send-error u-form-send-message"> Unable to send your message. Please fix errors then try again. </div>
          <input type="hidden" value="" name="recaptchaResponse">
        </form>
      </div>
    </div>

</section>




          <script>
             let navbar = document.querySelector('nav');
             var scrollPrev = window.pageYOffset;
             window.onscroll = function(){
               var scrollCur = window.pageYOffset;
               if(scrollPrev > scrollCur){
                 navbar.style.top = "0";
               }else{
                 navbar.style.top = "-90px";

               }
               scrollPrev = scrollCur;
             }
          </script>
          <script>
             $('nav ul li').click(function(){
               $(this).addClass("active").siblings().removeClass("active");
             });
          </script>
          <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-e6a9"><div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
              <p class="u-small-text u-text u-text-variant u-text-1">© 2021 CPE Project&nbsp;All Rights Reserved.</p>
            </div></footer>

          {% else %}
          <nav>
            <label >
            <img src="{% static '/pythontutorials/tpsi3.png' %}" width="100" height="100" alt="" class="d-inline-block align-middle mr-2"></label>
            <ul>
                      <li><a class="nav-item nav-link" href="{% url 'login' %}">Login</a></li>
                      <li><a class="nav-item nav-link" href="{% url 'register' %}">Register</a></li>
                   </ul>
                </nav>
                <br><br><br><rb><rb><br><br><br><br><br><br><rb><rb><br><br><br><br><br><br><rb><rb><br><br><br><br><br><br><rb><rb><br><br><br>
<div class="container">
  <a  href="{% url 'login' %}"><center><h1>Please Log In</h1></center></a>
</div>


          {% endif %}


          <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

          <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>



            <main role="main" class="container">

                    {% if messages %}
                      {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">
                          {{ message }}
                        </div>
                      {% endfor %}
                    {% endif %}
                    {% block content %}{% endblock %}
            </main>

  </body>
</html>
