
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    {% if user.is_authenticated %}
        <nav >

                 <label >
                 <img src="{% static '/pythontutorials/tpsi3.png' %}" width="100" height="100" alt="" class="d-inline-block align-middle mr-2"></label>
                 <ul>
                    <li class="active" ><a href="{% url 'python-main' %}">Home</a></li>
                    <li><a href="{% url 'python-blog' %}">Blog</a></li>
                    <li><a  href="{% url 'logout' %}">Logout</a></li>
                 </ul>
              </nav>
              <br><br><br><br>
    <div class="content-section">
      <br><br><br>
        <form method="POST">
            {% csrf_token %}
            <fieldset  style="color:white;"   class="form-group">
                <legend class="border-bottom mb-4">Delete Post</legend>
                <h2>Are you sure you want to delete the post "{{ object.title }}"</h2>
            </fieldset>
            <div class="form-group">
                <button  style="color:white;"  class="btn btn-outline-danger" type="submit">Yes, Delete</button>
                <a  style="color:white;"   class="btn btn-outline-secondary" href="{% url 'post-detail' object.id %}">Cancel</a>
            </div>
        </form>
        <br><br><br><br><br><br><br><br><br><br>
    </div>

    {% else %}
    <nav>
      <label >
      <img src="{% static '/pythontutorials/tpsi3.png' %}" width="100" height="100" alt="" class="d-inline-block align-middle mr-2"></label>
      <ul>
                <li><a class="nav-item nav-link" href="{% url 'login' %}">Login</a></li>
                <li><a class="nav-item nav-link" href="{% url 'register' %}">Register</a></li>
             </ul>
          </nav>
          <br><br><br><rb><rb><br><br><br><br><br><br><rb><rb><br><br><br><br><br><br><rb><rb><br><br><br><br><br><br><rb><rb><br><br><br>
<div class="container">
<a  href="{% url 'login' %}"><center><h1>Please Log In</h1></center></a>
</div>


    {% endif %}
  </body>
</html>
